<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<form class="" action="index.html" method="post">
  <input type="text" name="content " value="">
</form>
